body {
    font-family: "Great Vibes";
    background-color: #ffffff;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
}

nav ul {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    color: #0b8107;
    width: 25%;
    top: 60px;
    z-index: 1000;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: #0b8107;
    text-decoration: none;
    text-align: center;
    flex-shrink: 0;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
}


/* Salveaza data */
.salveaza-data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.salveaza-data p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 40px;
}

.salveaza-data img{
    width: 100%; /* Inițial ocupă 100% din lățimea containerului */
    max-width: 300px; /* Dar nu mai mare de 300px pe ecrane mari */
    margin: 10px;
    border-radius: 10px 50px;
}

.countdown {
    color: #054622;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Merienda;
    font-size: 100%;
    font-weight: bold;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px; /* Colțuri rotunjite */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Umbră pentru întregul countdown */
    border: 2px double #0b8107;
}

.time-unit {
    margin: 0 10px;
    text-align: center;
    padding: 10px; /* Spațiere interioară */
    border-radius: 5px; /* Colțuri rotunjite */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Umbră pentru fiecare unitate */
    border: 2px dashed #0b8107;
}

#nunta{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#nunta h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
    font-size: 35px;
}

#nunta p{
    font-family: Merienda;
    margin: 1px;
}

#nunta span{
    font-family: Merienda;
    text-decoration: solid;
}

#nunta img{
    width: 100%; /* Inițial ocupă 100% din lățimea containerului */
    max-width: 300px; /* Dar nu mai mare de 300px pe ecrane mari */
    margin: 10px;
}

#locatii {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#locatii h2{
    font-size: 1.5em;
    font-size: 35px;
}

#locatii h3{
    font-size: 1.17em;
    font-size: 25px;
}

#locatii p{
    font-family: Merienda;
    margin: 1px;
    text-align: center;
    margin-bottom: 10px;
}

#locatii img{
    width: 100%; /* Inițial ocupă 100% din lățimea containerului */
    max-width: 300px; /* Dar nu mai mare de 300px pe ecrane mari */
    margin: 10px;
}

#locatii .map-container{
    width: 100%;  /* Containerul va ocupa 100% din lățimea părintelui său */
    height: 300px;  /* Înălțimea containerului este fixată la 400px */
    max-width: 300px;  /* Opțional: Setează o lățime maximă pentru container */
    margin: auto;  /* Centrarea containerului */
    margin-top: 5px;
}

#locatii .custom-map{
    width: 100%;  /* Harta va ocupa întreaga lățime a containerului */
    height: 100%;  /* Harta va ocupa întreaga înălțime a containerului */
}

#locatii iframe{
    border: 2px solid;
    border-color: #0b8107;
}

#rsvp{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#rsvp h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
    font-size: 35px;
}

.alert{
    font-size: 35px;
}

form {
    max-width: 100%;
    margin: 5px auto;
    padding: 5px;
    box-shadow: 0 0 5px #033b01;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Merienda;
}

.label-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

input{
    border:2px solid #0b8107;
    font-family: Merienda;
}

select{
    border: 2px solid #0b8107;
}

.mesaj-area{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

textarea {
    margin-top: 10px;
    border: 2px solid #0b8107;
    font-family: Merienda;
    height: 70px;
}

.btn{
    background-color: forestgreen;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    font-family: Merienda;
}

.btn:hover{
    background-color: rgb(12, 92, 12);
}

.datele-noastre {
    font-family: Merienda;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.datele-noastre img{
    width: 100%; /* Inițial ocupă 100% din lățimea containerului */
    max-width: 300px; /* Dar nu mai mare de 300px pe ecrane mari */
    margin: 10px;
    border-radius: 5%;
}

.datele-noastre p{
    font-family: Merienda;
    font-size: 90%;
    margin: 1px;
}

.raspuns {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.raspuns h2{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.8);
    font-size: 35px;
}

.raspuns p{
    font-family: Merienda;
    font-size: 90%;
    margin: 1px;
}

.raspuns img{
    width: 100%; /* Inițial ocupă 100% din lățimea containerului */
    max-width: 300px; /* Dar nu mai mare de 300px pe ecrane mari */
    margin: 10px;
}





/* Media Queries pentru ecrane mai mici */
@media only screen and (max-width: 736px) {
    body{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header {
        padding: 10px;
        text-align: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    nav ul li {
        display: flex;
        font-size: 25px;
        align-items: center;
    }

    .salveaza-data p{
        font-size: 30px;
        color: #000000;
    }

    .salveaza-data img {
        width: 100%; /* Imaginile vor ocupa toată lățimea ecranului */
        max-width: none; /* Fără limită de dimensiune */
    }

    .countdown {
        font-size: 100%; /* Diminuare dimensiune font */
    }
    
    .time-unit {
        margin: 5px 5px; /* Micșorare margini */
    }

    #nunta{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        flex-direction: column;
    }

    #nunta h2{
        font-size: 30px;
    }

    #nunta p{
        font-size: 20px;
        text-align: center;
    }

    #locatii h2{
        font-size: 30px;
    }

    #locatii img{
        width: 100%; /* Imaginile vor ocupa toată lățimea ecranului */
        max-width: none;
    }

    #locatii h3{
        font-size: 25px;
    }

    #locatii p{
        font-size: 20px;
    }

    .map-container {
        height: 250px; /* Înălțime mai mică pe dispozitive mobile */
    }

    form {
        padding: 5px;
        text-align: center;
    }

    .datele-noastre p{
        font-size: 20px;
        text-align: center;
    }

    .raspuns h2{
        font-size: 25px;
    }

    .raspuns p{
        font-size: 20px;
        text-align: center;
    }

    .raspuns img{
        width: 100%; /* Imaginile vor ocupa toată lățimea ecranului */
        max-width: none;
    }
}